* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.taskscheduler {
    background-color: #0554fe;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.item p {
    margin-bottom: 0px;
}